<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-newsleep="{{eat}}">
		{{#if sleep}}Burgers I've Eaten!{{else}}Burgers I Need To Eat!!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
